/* .hidden {
  display: none;
} */
@media (prefers-color-scheme : dark) {
  body {
    background-color: #161616;
    color: #c7c7c7;
  }
}
.temp {
  background-color: black;
  width: 25vw;
  height: 25vh;
  display: flex;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tempp {
  background-color:rgb(65, 65, 65);
  color:aliceblue;
  padding:24px;
}
td {
  display: table-cell;
  text-align: center;
  width: 125px;
  height: 60px;
  border: 1px rgb(165, 164, 164) solid;
}
th {
  color: #eb6f9e;
}
.css-td {
  display: table-cell;
  text-align: center;
  width: 200px;
  height: 30px;
  border: 1px rgb(165, 164, 164) solid;
}
a {
  color: aquamarine;
}
legend.childLegend {
  color: rgb(125, 202, 176);
}
legend.parentLegend {
  color: rgb(204, 101, 122);
  font-weight: bold;
  font-size: 25px;
}
xmp {
  width: 80vw;
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #080606;
  border: 1px solid #c7c7c7;
}
.css2div {
  text-decoration: overline underline red;
  text-transform: capitalize;
}
.css3ul {
  padding: 0;
  list-style: none;
}
.css3ul>li {
  display: inline-block;
}
.codetitle {
  color: rgb(212, 160, 91);
  font-weight: bold;
  line-height: 200%;
}
.codelists {
  width: 80vw;
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  background-color: #080606;
  border: 1px solid #c7c7c7;
}
.span-inline {display: inline;background-color: rgb(235, 137, 137);color: #161616;}
.span-block {display: block; background-color: rgb(150, 228, 150);color: #161616;}
.span-inline-block { display: inline-block; background-color: rgb(164, 164, 243);color: #161616;}
.css6box {
  display: inline-block;
  width: 50vw;
  height: 25vh;
  background-color: #531c31;
  margin: 0;
}
.css6text {
  text-align: center;
}
.css6boxflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vh;
  background-color: #2e3450;
  margin: 0;
}
.css7boxshadow {
  background-color: #531c31;
  width: 20vw;
  height: 20vh;
  box-shadow: 1px 2px 3px 4px #eb6f9e;
}
.css8boxgradient {
  width: 25vw;
  height: 25vh;
  background: linear-gradient(45deg, red, green, blue, yellow);
}
.css9boxsticky1 {
  width: 25vw;
  height: 25vh;
  background-color: #531c31;
}
.css9boxsticky2 {
  position: sticky;
  top: 70vh;
  width: 10vw;
  height: 10vh;
  background-color: #eb6f9e;
}
.css9boxzindexparant {
  position: relative;
  display: block;
  height: 15vh;
  color: #161616;
  font-weight: bold;
}
.css9boxzindex1 {
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: #e45936;
  z-index: 1;
}
.css9boxzindex2 {
  top: 15px;
  left: 15px;
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: #4ae436;
  z-index: 2;
}
.css9boxzindex3 {
  top: 30px;
  left: 30px;
  position: absolute;
  width: 10vw;
  height: 10vh;
  background-color: #36dee4;
  z-index: 3;
}