/* .hidden {
  display: none;
} */
@media (prefers-color-scheme : dark) {
  body {
    background-color: #161616;
    color: #c7c7c7;
  }
}
.temp {
  background-color: black;
  width: 25vw;
  height: 25vh;
  display: flex;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tempp {
  background-color:rgb(65, 65, 65);
  color:aliceblue;
  padding:24px;
}
td {
  display: table-cell;
  text-align: center;
  width: 125px;
  height: 60px;
  border: 1px rgb(165, 164, 164) solid;
}
th {
  color: #eb6f9e;
}
.css-td {
  display: table-cell;
  text-align: center;
  width: 200px;
  height: 30px;
  border: 1px rgb(165, 164, 164) solid;
}
a {
  color: aquamarine;
}
legend.childLegend {
  color: rgb(125, 202, 176);
}
legend.parentLegend {
  color: rgb(204, 101, 122);
  font-weight: bold;
}
xmp {
  width: 80vw;
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #080606;
  border: 1px solid #c7c7c7;
}
.css2div {
  text-decoration: overline underline red;
  text-transform: capitalize;
}
.codetitle {
  color: rgb(212, 160, 91);
  font-weight: bold;
  line-height: 200%;
}
.codelists {
  width: 80vw;
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  background-color: #080606;
  border: 1px solid #c7c7c7;
}
.span-inline {display: inline;background-color: rgb(235, 137, 137);color: #161616;}
.span-block {display: block; background-color: rgb(150, 228, 150);color: #161616;}
.span-inline-block { display: inline-block; background-color: rgb(164, 164, 243);color: #161616;}